/* Nombre: Oscar Alberto Muñoz Vanegas
Clan: Dell
Fecha: 03/04/2024 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
